map_maker/out.txt
node_modules
.*
queries/cached_queries

# Ignore all configuration other than config/cli.example.json and config/exploratory.example.json.
/config/*.json

# Ignore output files in the data directory.
/data
